
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

$body-bg: #ebe8c9 !important;
$body-color: #1e3747;

@import "../node_modules/bootstrap/scss/bootstrap";

$theme-colors: (
  "prime": #205372,
  "second": #4a758b,
  "third": #bbe0eb,
  "fourth": #d8ecf1,
  "cream": #ebe8c9,
  "alert": #d35944,
  "alert-light": #ffafa1,
  "warn": #E8804C,
  "warn-light": #ffd2b3,
  "safe": #48c490,
  "safe-light": #c3fae3,
  "grape":  #753d57,
  "grape-light":  #ceaabb,
  "grey":  #e4e4e4,
  "smoke":  #acacac,
  "p1":  #60dfff,
  "p2":  #d260ff,
);

