
$body-bg: () !default;
$body-bg: #205372 !important;

$body-color: () !default ;
$body-color: #1e3747 !important;


$theme-colors: (
  "prime": #205372,
  "second": #4a758b,
  "third": #bbe0eb,
  "fourth": #d8ecf1,
  "cream": #ebe8c9,
  "alert": #d35944,
  "alert-light": #ffafa1,
  "warn": #E8804C,
  "warn-light": #ffd2b3,
  "peel": #ffd2b3,
  "safe": #48c490,
  "safe-light": #c3fae3,
  "grape":  #753d57,
  "grape-light":  #ceaabb,
  "fade":  #f0f0f0,
  "grey":  #c2c2c2d8,
  "smoke":  #e9e9e9,
  "darkgrey":  #5f5f5f,
  "p1":  #60dfff,
  "p1-light":  #7cc4ff,
  "p2":  #d260ff,
  "p2-light":  #e7acff,
  "black": rgba(0, 0, 0, 0.678)
);

// Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '../node_modules/bootstrap-vue/src/index.scss';


